<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Heavenly Home Apartments</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/HeavenlyHome.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              @Html.ActionLink("HeavenlyHomeApartments", "Index", "Home", null, new { @class = "btn btn-dark" }))
    </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">

                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-dark mr-1" })</li>
                    <li>@Html.ActionLink("Floorplans", "FloorPlans", "Home", null, new { @class = "btn btn-dark  mr-1" })</li>
                    <li>@Html.ActionLink("Features", "Features", "Home", null, new { @class = "btn btn-dark" }))</li>
                    <li>@Html.ActionLink("Photos", "Photos", "Home", null, new { @class = "btn btn-dark" }))</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "btn btn-dark" }))</li>
                    <li>@Html.ActionLink("ApplyNow", "Index", "Applicant", null, new { @class = "btn btn-dark" }))</li>

                    @if (User.IsInRole("Applicant"))
                    {
                        <li>@Html.ActionLink("ApplyNow", "Index", "Applicant", null, new { @class = "btn btn-dark" }))</li>

                    }

                    @if (User.IsInRole("Manager"))
                    {
                        <li>@Html.ActionLink("ManagementPortal", "Index", "ManagementPortal", null, new { @class = "btn btn-dark" }))</li>
                    }

                    @if (User.IsInRole("Resident"))
                    {
                        <li>@Html.ActionLink("ResidentPortal", "Index", "ResidentPortal", null, new { @class = "btn btn-dark" }))</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>

            <p>&copy; @DateTime.Now.Year - HeavenlyHomeApratments</p>

        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
