@model IEnumerable<HeavenlyHome_Models.FloorPlanModels.FloorPlanListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FloorPlanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfBeds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfBaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaInSqFt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfGarageSpaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FloorPlanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfBaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaInSqFt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfGarageSpaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
