@model HeavenlyHome_Models.ResidentModels.ResidentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ResidentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResidentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ResidentID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
